#wrap {
	max-width: 1024px;
	margin: 0 auto;
} 

#wrap2 {
	max-width: 1022px;
	margin: 0 auto;
}

#top-line {
  background-color:steelblue;
  max-width: 1024px;
  max-height: 220px;
}

#left-side {
  background-color:steelblue;
  height: 600px;
  max-width: 210px;
  float: left;

}

#center {
  height:100%
}

#top-pic {
	max-width:800px;
	margin:0 0 auto;
}

#pic-holder img {
	height:100%;
}

#logo img {
	max-height: 120px;
	max-width: 120px;
}



#redlined {
	border: 2px solid red;
	margin: 5px;
	padding: 2px;
}




.nav-tabs a {
	background-color: skyblue;
	color: white;
	border: 2px solid white;
}

.tab-content a {
	color: skyblue;
}

.table-condensed {
	margin:2px;
	padding: 2px;
}

li {
  list-style: none;
  padding: 2px;
}

#middlebox {
	width: 540px;
}

#rightside{
	max-width:200px;
	float: left;
	margin: 0 auto;
}

.col-md-9 {
	max-width:300px;
} 

.table-condensed {
	margin: 0 auto;
}

#mid-page-nav {
	background-color: white;
	float: top;
	display: table;
	table-layout: fixed;
	width: 100%;
}

#mid-page-nav ul {
	width:100%;
	float: left;
}

#mid-page-nav li {
	display: inline;
	width: 25%;
}

#mid-page-nav a {
	text-decoration: none;
	background-color: gold;
	color: #000000;
	border: 1px solid #000000;
	font-family: Arial, sans-serif;
	font-size: medium;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 9px;
	margin: 3 auto;
	width:20%;
}

#mid-page-nav a:active {
	background-color: white;
	color: green;
}

#mid-page-nav a:hover {
	background-color: white;
	color: green;
}

.tab-pane li{
	display:block;
	font-family: Arial, sans-serif;
	font-size: medium;
	font-weight: bold;
}

.container {
	color: skyblue;
}

.button1 {
	color:black;
}